{{#if station.measures}}

<table class='table is-bordered is-fullwidth'>
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction </th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>

    {{#each station.measures}}

      <tr>
        <td>{{time}}</td>
        <td>{{code}}</td>
        <td>{{temp}}</td>
        <td>{{windSpeed}}</td>
        <td>{{windDirection}}</td>
        <td>{{pressure}}</td>
        <td><a href='/station/{{../station._id}}/deletemeasure/{{_id}}'>
            <span class='icon has-text-danger'>
              <i class='fas fa-trash'></i>
            </span></a>
        </td>
      </tr>

    {{/each}}

  </tbody>
</table>

{{else}}

<div class="content py-6 has-text-centered">
    <h2 class="py-3">No measures recorded yet</h2>
    <p>Add your first measure below!</p>
</div>

{{/if}}